.preca{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.iconos{
    width: 80%;
    min-height: 100px;
    margin: auto;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}
.iconsA,.iconsB{
    width: 250px;
    height: 250px;
    margin: auto;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.iconsA{
    background-image: url(../../assets/images/usoExtInt.svg);
}
.iconsB{
    background-image: url(../../assets/images/sinAditi.svg);
}