.titulosA{
    width: 100%;
    /* max-width: 800px; */
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
}
.titulosAsvg{height: 90%;}
.lineCuadrado{fill:none;stroke:#143F30;stroke-width:10;stroke-dasharray: 2615;stroke-dashoffset: 2615;
    animation: lineCuadrado 0.5s forwards linear 0s;}
@keyframes lineCuadrado{0%{stroke-dashoffset:2615px;}100%{stroke-dashoffset:0px;}}

.lineTitulo{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 3280;
    stroke-dashoffset: 3280;
    animation: lineTitulo 0.5s forwards linear 1.0s;}
@keyframes lineTitulo{0%{stroke-dashoffset:-3280px;}100%{stroke-dashoffset:0px;}}


.lineReglaVert,.lineReglaHori{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: lineReglaVert 0.5s forwards linear 0.0s;}
@keyframes lineReglaVert{0%{stroke-dashoffset:-700px;}100%{stroke-dashoffset:0px;}}

.lineLargoTitulo{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 105;
    stroke-dashoffset: 105;
    animation: lineLargoTitulo 0.5s forwards linear 0.5s;}
@keyframes lineLargoTitulo{0%{stroke-dashoffset:105px;}100%{stroke-dashoffset:0px;}}

.lineMedianoTitulo{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 75;
    stroke-dashoffset: 75;
    animation: lineMedianoTitulo 0.5s forwards linear 0.5s;}
@keyframes lineMedianoTitulo{0%{stroke-dashoffset:75px;}100%{stroke-dashoffset:0px;}}
.lineCortoTitulo{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: lineCortoTitulo 0.5s forwards linear 0.5s;}
@keyframes lineCortoTitulo{0%{stroke-dashoffset:50px;}100%{stroke-dashoffset:0px;}}

.lineAtras{fill:none;stroke:#143F30;stroke-width:10;
    stroke-dasharray: 665;
    stroke-dashoffset: 665;
    animation: lineAtras 0.5s forwards linear 1s;}
@keyframes lineAtras{0%{stroke-dashoffset:-665px;}100%{stroke-dashoffset:0px;}}


/* COMPLEMENTOS */
.textoTitulo{font-size:340px;fill:#143F30;text-transform: uppercase;}
.iconoTitulo{fill: #143F30;}
.rectIconoTitulo{animation: rectIconoTitulo 1s forwards 0.0s;}
@keyframes rectIconoTitulo{0%{height: 0;}100%{height: 500px;}}
.recTextoTitulo{animation: recTextoTitulo 1s forwards 0.5s;}
@keyframes recTextoTitulo{0%{width: 0;}100%{width: 3200px;}}

