.st0{fill-rule:evenodd;clip-rule:evenodd;}
	.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#0000FF;}
	.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FF0000;}
	.st4{opacity:0.83;fill-rule:evenodd;clip-rule:evenodd;fill:#0000FF;}
	.st5{opacity:0.83;fill:#FFFFFF;}
	.st6{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
	.st7{font-size:610px;}