.fondoConstruccion{
	fill: #e2e2e2;
}
.construccionSVG0{fill-rule:evenodd;clip-rule:evenodd;fill:#143F30;}
.construccionSVG1{fill-rule:evenodd;clip-rule:evenodd;fill:#CBCBCB;}
.construccionSVG2{fill:#B2B2B2;}
.construccionSVG3{fill-rule:evenodd;clip-rule:evenodd;fill:#B2B2B2;}
.construccionSVG4{fill:none;stroke:#000000;stroke-width:7.4408;stroke-miterlimit:22.9256;}
/* .construccionSVG5{font-family:'Exo-Bold';} */
.construccionSVG6{font-size:95px; font-weight: 800;}
.construccionSVG7{fill:#FFFFFF;font-weight: 400;}